/*!
 * Jodit Editor (https://xdsoft.net/jodit/)
 * License https://xdsoft.net/jodit/license.html
 * Copyright 2013-2018 Valeriy Chupurnov https://xdsoft.net
 */
.jodit_image_editor {
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .jodit_image_editor {
    height: auto;
  }
}
.jodit_image_editor > div,
.jodit_image_editor > div > div {
  height: 100%;
}
@media (max-width: 768px) {
  .jodit_image_editor > div,
  .jodit_image_editor > div > div {
    height: auto;
    min-height: 200px;
  }
}
.jodit_image_editor * {
  box-sizing: border-box;
}
.jodit_image_editor .jodit_image_editor_slider-title {
  text-shadow: #f3f3f3 0px 1px 0px;
  color: #333333;
  border-bottom: 1px solid rgba(158, 158, 158, 0.31);
  background-color: #f9f9f9;
  padding: 0.8em 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  line-height: 1.0em;
}
.jodit_image_editor .jodit_image_editor_slider-title svg {
  margin-right: 10px;
  width: 16px;
  display: inline-block;
  vertical-align: middle;
}
.jodit_image_editor .jodit_image_editor_slider-content {
  display: none;
}
.jodit_image_editor .jodit_image_editor_slider.active .jodit_image_editor_slider-title {
  background-color: #5d5d5d;
  color: #fff;
  text-shadow: #000000 0 1px 0;
}
.jodit_image_editor .jodit_image_editor_slider.active .jodit_image_editor_slider-title svg {
  fill: white;
}
.jodit_image_editor .jodit_image_editor_slider.active .jodit_image_editor_slider-content {
  display: block;
}
.jodit_image_editor_area {
  background-color: #eee;
  background-image: linear-gradient(45deg, #cccccc 25%, transparent 25%, transparent 75%, #cccccc 75%, #cccccc), linear-gradient(45deg, #cccccc 25%, transparent 25%, transparent 75%, #cccccc 75%, #cccccc);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
  height: 100%;
  overflow: hidden;
  user-select: none;
  position: relative;
  display: none;
}
.jodit_image_editor_area.active {
  display: block;
}
.jodit_image_editor_area .jodit_image_editor_box {
  overflow: hidden;
  position: relative;
  z-index: 1;
  pointer-events: none;
  height: 100%;
}
.jodit_image_editor_area .jodit_image_editor_box img {
  user-select: none;
  max-width: 100%;
  max-height: 100%;
}
.jodit_image_editor_area .jodit_image_editor_croper,
.jodit_image_editor_area .jodit_image_editor_resizer {
  z-index: 2;
  width: 100px;
  height: 100px;
  position: absolute;
  box-shadow: 0 0 11px #000;
  border: 1px solid #fff;
  background-repeat: no-repeat;
  top: 10px;
  left: 20px;
  pointer-events: none;
}
.jodit_image_editor_area .jodit_image_editor_croper i.jodit_bottomright,
.jodit_image_editor_area .jodit_image_editor_resizer i.jodit_bottomright {
  position: absolute;
  display: inline-block;
  border: 1px solid #383838;
  z-index: 4;
  background-color: #8c7878;
  cursor: se-resize;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  right: -10px;
  bottom: -10px;
  box-shadow: 0 0 11px #000;
  pointer-events: all;
}
.jodit_image_editor_area .jodit_image_editor_croper i.jodit_bottomright:active,
.jodit_image_editor_area .jodit_image_editor_resizer i.jodit_bottomright:active {
  border: 1px solid yellow;
}
.jodit_image_editor_area.jodit_image_editor_area_crop {
  height: 100%;
  background: #eee;
  text-align: center;
  line-height: 100%;
  position: relative;
}
.jodit_image_editor_area.jodit_image_editor_area_crop:before {
  content: '';
  line-height: 100%;
  vertical-align: middle;
  height: 100%;
  display: inline-block;
}
.jodit_image_editor_area.jodit_image_editor_area_crop .jodit_image_editor_box {
  height: 100%;
  overflow: visible;
  display: inline-block;
  vertical-align: middle;
  pointer-events: all;
  font-size: 0;
  text-align: left;
  line-height: 100%;
}
.jodit_image_editor_area.jodit_image_editor_area_crop .jodit_image_editor_box img {
  max-width: 100%;
  max-height: 100%;
}
.jodit_image_editor_area.jodit_image_editor_area_crop .jodit_image_editor_box:before {
  content: '';
  line-height: 100%;
  vertical-align: middle;
  height: 100%;
  display: inline-block;
}
.jodit_image_editor_area.jodit_image_editor_area_crop .jodit_image_editor_box:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: rgba(255, 255, 255, 0.3);
  z-index: 1;
}
.jodit_image_editor_area.jodit_image_editor_area_crop .jodit_image_editor_box .jodit_image_editor_croper {
  pointer-events: all;
  cursor: move;
}
.jodit_image_editor_area.jodit_image_editor_area_crop .jodit_image_editor_box .jodit_image_editor_croper i.jodit_sizes {
  font-size: 12px;
  white-space: pre;
  position: absolute;
  bottom: -30px;
  left: 100%;
  text-align: center;
  color: #ffffff;
  text-shadow: none;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0.4em;
  padding: 9px 6px;
  display: block;
}
