/*!
 * Jodit Editor (https://xdsoft.net/jodit/)
 * License https://xdsoft.net/jodit/license.html
 * Copyright 2013-2018 Valeriy Chupurnov https://xdsoft.net
 */
.jodit_btn_group {
  font-size: 0;
  vertical-align: middle;
}
.jodit_btn_group input {
  display: none;
}
.jodit_btn_group button {
  float: left;
}
.jodit_btn_group button + button {
  margin-left: -1px;
}
.jodit_btn_group input:first-child + button,
.jodit_btn_group button:first-child {
  border-right: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.jodit_btn_group input:last-child + button,
.jodit_btn_group button:last-child {
  border-left: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.jodit_btn_group:after {
  content: '';
  clear: both;
  float: none;
  display: table;
}
