/*!
 * Jodit Editor (https://xdsoft.net/jodit/)
 * License https://xdsoft.net/jodit/license.html
 * Copyright 2013-2018 Valeriy Chupurnov https://xdsoft.net
 */
.jodit_grid {
  width: 100%;
}
.jodit_grid [class*=jodit_col-] {
  display: block;
  float: left;
}
.jodit_grid .jodit_col-lg-5-5 {
  width: 100%;
}
.jodit_grid .jodit_col-lg-4-5 {
  width: 80%;
}
.jodit_grid .jodit_col-lg-3-5 {
  width: 60%;
}
.jodit_grid .jodit_col-lg-2-5 {
  width: 40%;
}
.jodit_grid .jodit_col-lg-1-5 {
  width: 20%;
}
.jodit_grid .jodit_col-lg-4-4 {
  width: 100%;
}
.jodit_grid .jodit_col-lg-3-4 {
  width: 75%;
}
.jodit_grid .jodit_col-lg-2-4 {
  width: 50%;
}
.jodit_grid .jodit_col-lg-1-4 {
  width: 25%;
}
.jodit_grid:before,
.jodit_grid:after {
  content: " ";
  display: table;
}
.jodit_grid:after {
  clear: both;
}
