/*!
 * Jodit Editor (https://xdsoft.net/jodit/)
 * License https://xdsoft.net/jodit/license.html
 * Copyright 2013-2018 Valeriy Chupurnov https://xdsoft.net
 */
.jodit_draganddrop_file_box,
.jodit_uploadfile_button {
  position: relative;
  width: 220px;
  border: dashed 1px #cccccc;
  padding: 25px 0;
  margin: 10px 0px;
  text-align: center;
  overflow: hidden;
}
.jodit_draganddrop_file_box:hover,
.jodit_uploadfile_button:hover {
  background-color: #ecebe9;
}
.jodit_draganddrop_file_box input,
.jodit_uploadfile_button input {
  cursor: pointer;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  margin: 0px;
  padding: 0;
  opacity: 0;
  font-size: 400px;
}
@media (max-width: 768px) {
  .jodit_draganddrop_file_box {
    width: auto;
    max-width: 100%;
    min-width: 120px;
  }
}
