/*!
 * Jodit Editor (https://xdsoft.net/jodit/)
 * License https://xdsoft.net/jodit/license.html
 * Copyright 2013-2018 Valeriy Chupurnov https://xdsoft.net
 */
.jodit_colorpicker {
  min-width: 180px;
  text-align: left;
  margin: 0;
  user-select: none;
}
.jodit_colorpicker .jodit_colorpicker_group {
  margin-bottom: 5px;
  white-space: normal;
}
.jodit_colorpicker a {
  width: 18px;
  height: 18px;
  line-height: 16px;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
}
.jodit_colorpicker a.jodit_text_icon {
  width: auto;
  text-decoration: none;
  color: #000000;
}
.jodit_colorpicker a:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}
.jodit_colorpicker a svg {
  display: inline-block;
  vertical-align: middle;
  font-smoothing: antialiased;
  max-width: 14px;
}
.jodit_colorpicker a:hover {
  border-color: #000;
}
.jodit_colorpicker a:active {
  background: #d6d6d6;
  color: #b5b5b5;
}
