$primary_color: #0088cc;
.app {
	margin: 5% auto;
	width: 90%;
	min-height: 90vh;
	border: 2px solid $primary_color;
	display: flex;
	justify-content: space-between;
	&_col {
		width: 29%;
		&_big {
			width: 39%;
		}
	}
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
}
h2 {
	text-align: center;
	font-size: 24px;
}
h3 {
	text-align: center;
	font-size: 24px;
	margin-top: 20px;
	color: #949494;
}
h4 {
	font-size: 22px;
}
ul {
	list-style: none;
}
button {
	background-color: $primary_color;
	border: none;
	padding: 15px 20px;
	color: #fff;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	border: 1px solid transparent;
	cursor: pointer;
	&:hover {
		background-color: transparent;
		border-color: $primary_color;
		transition: 0.3s;
		color: $primary_color;
	}
}
.list {
	&_item {
		margin-top: 7px;
		border-bottom: 1px solid #efefef;
		padding-bottom: 7px;
		&_buttons {
			display: flex;
		}
		&_main {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			line-height: 2;
		}
		button {
			margin-left: 10px;
			padding: 5px;
			margin-top: 0px;
			&:first-child {
				margin-left: 0px;
			}
		}
	}
}
.block {
	border: 1px solid #ccc;
	padding: 40px 20px;
}
.geo {
	margin-top: 20px;
}
input {
	width: 100%;
	padding: 10px;
	border: 1px solid $primary_color;
	margin-top: 20px;
	color: $primary_color;
	&::placeholder {
		color: #949494;
	}
}
.weather {
	padding: 40px 20px;
	&_flex {
		display: flex;
		align-items: center;
	}
	img {
		margin-left: 20px;
	}
	p {
		line-height: 50px;
		font-size: 20px;
		color: #0088cc;
		span {
			color: #626262;
		}
	}
	h4 {
		margin-top: 50px;
	}
}
.error {
	margin-top: 10px;
	font-size: 14px;
	color: rgb(233, 43, 43);
}
@media screen and(max-width: 960px) {
	.block {
		padding: 20px 10px;
	}
	.weather {
		padding: 20px 10px;
		p {
			line-height: 30px;
			font-size: 18px;
		}
		h4 {
			margin-top: 30px;
		}
	}
	h2 {
		font-size: 18px;
	}
	h3 {
		font-size: 18px;
	}
	h4 {
		font-size: 16px;
	}
	.list {
		&_item {
			&_main {
				font-size: 14px;
			}
		}
	}
}
@media screen and(max-width: 640px) {
	button {
		padding: 10px 15px;
	}
	.weather {
		p {
			font-size: 14px;
		}
	}
	h2 {
		font-size: 16px;
	}
	h3 {
		font-size: 16px;
	}
	h4 {
		font-size: 14px;
	}
	.app {
		flex-wrap: wrap;
		width: 100%;
		margin: 0px;
		border: none;
		&_col {
			width: 45%;
			&_big {
				width: 55%;
			}
			&_mobile {
				width: 100%
			}
		}
	}
	.list {
		margin-top: 20px;
	}
	.weather {
		&_list {
			text-align: center;
		}
		&_flex {
			justify-content: center;
		}
	}
}